@import '../../../../variables.css';

.SelectedWeatherStyles {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    padding: 0 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.buttonWrapper {
    width: 25%;
    display: flex;
    justify-content: center;
    align-self: end;
}

.SelectedWeatherStyles ul {
    width: 50%;
    padding: 0;
}

.SelectedWeatherStyles li {
    list-style: none;
    font-size: var(--text-size-extra-large);
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 800;
    align-self: center;
}

.SelectedWeatherStyles li:nth-child(2) {
    font-size: var(--text-size-huge);
}

.SelectedWeatherStyles button {
    border: none;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
    margin: 2rem;
    padding: 0;
    outline: none;
    align-self: start;
}


/* Medium screens */
@media only screen and (max-width: 960px) {
    .SelectedWeatherStyles {
        width: 100%;
        padding: 0 1rem;
    }
}

@media only screen and (max-width: 750px) {
    .SelectedWeatherStyles {
        width: 100%;
        height: 290px;
    }

    .SelectedWeatherStyles div svg:nth-child(1) {
        font-size: 6em;
    }

    .SelectedWeatherStyles li {
        font-size: var(--text-size-large);
    }

    .SelectedWeatherStyles li:nth-child(2) {
        font-size: var(--text-size-extra-large);
    }
}



/* Small screens */
@media only screen and (max-width: 500px) {
    .SelectedWeatherStyles {
        flex-direction: column-reverse;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .SelectedWeatherStyles div svg:nth-child(1) {
        font-size: 7em;
    }

    .SelectedWeatherStyles ul {
        width: 50%;
    }

    .SelectedWeatherStyles li {
        font-size: var(--text-size-large);
    }

    .SelectedWeatherStyles li:nth-child(2) {
        font-size: var(--text-size-large);
    }

    .buttonWrapper {
        width: 25%;
        display: flex;
        justify-content: center;
        align-self: flex-end;
        order: 2;
    }
}