@import '../../../../variables.css';

.SelectedWeatherStyles {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.SelectedWeatherStyles p {
    margin: 0 auto;
    text-align: center;
    font-size: var(--text-size-extra-large);
    line-height: 1.6;
    font-weight: 800;
    align-self: center;
    width: 35%;
}

.SelectedWeatherStyles button {
    border: none;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
    margin: 2rem;
    padding: 0;
    outline: none;
    align-self: start;
}

.SelectedWeatherStyles li {
    list-style: none;
    font-size: var(--text-size-medium);
}