@import '../../../../variables.css';

.SelectedWeatherStyles {
    width: 80%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-flow: row;
}

.SelectedWeatherStyles p {
    margin: 0 auto;
    text-align: center;
    font-size: var(--text-size-extra-large);
    align-self: flex-end;
}

.SelectedWeatherStyles button {
    border: none;
    height: 10px;
    background-color: rgba(255, 0, 0, 0);
    margin: 2rem;
    padding: 0;
    outline: none;
}

.testDiv {
    width: 15%;
    height: 200px;
    border: var(--border-thick);
    border-color: var(--color-main-black-opaque);
    margin: 2rem;
}