@import '../../../../variables.css';

.LogoStyles {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.LogoStyles div {
    margin-right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.LogoStyles p:nth-child(1) {
    width: 100%;
    font-size: var(--text-size-extra-large);
}

.LogoStyles p:nth-child(2) {
    font-size: var(--text-size-large);
}