@import '../../../../variables.css';

.LogoStyles {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    user-select: none;
}

.LogoStyles div {
    margin-right: 1rem;
    width: 4.5rem;
    height: 4.5rem;
}

.LogoStyles ul {
    padding: 0;
    margin: 0;
}

.LogoStyles li {
    list-style: none;
}

.LogoStyles li:nth-child(1) {
    text-align: center;
    font-size: var(--text-size-extra-large);
    height: 2rem;
    font-weight: 800;
}

.LogoStyles li:nth-child(2) {
    font-size: var(--text-size-large);

}

.brandColor {
    color: var(--color-main-herolo-purple);
}