@import '../../../../../variables.css';

.SelectedWeatherInfoStyles {
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    width: 40%;
    height: 200px;
    margin: 1rem auto;
}

.SelectedWeatherInfoStyles ul {
    margin: auto;
    padding: 0 0.4rem;
}

.SelectedWeatherInfoStyles li {
    margin: 0 auto;
    list-style: none;
}

/* Selecting the Icon component div */
.SelectedWeatherInfoStyles div:nth-child(1) {
    margin: 0 auto;
}

.SelectedWeatherInfoStyles li:nth-child(1) p {
    font-size: var(--text-size-large);
    margin: 0;
}

/* .SelectedWeatherInfoStyles p:nth-child(1) {
    font-size: var(--text-size-medium);
}

.SelectedWeatherInfoStyles p:nth-child(2) {
    font-size: var(--text-size-medium);
} */

/* .SelectedWeatherInfoStyles a {
    font-size: var(--text-size-large);
} */

.SelectedWeatherInfoStyles li:nth-child(2) a {
    font-size: var(--text-size-large);
}

.SelectedWeatherInfoStyles li:nth-child(2) p {
    font-size: var(--text-size-medium);
}