@import '../../../../../variables.css';

.SelectedWeatherInfoStyles {
    display: flex;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    width: 40%;
    height: 200px;
    margin: 1rem auto;
}

.SelectedWeatherInfoStyles ul {
    padding: 0 0.4rem;
    margin-left: 0.4rem;
}

.SelectedWeatherInfoStyles li {
    margin: 0 auto;
    list-style: none;
    height: 35px;
}

/* Selecting the Icon component div */
.SelectedWeatherInfoStyles div:nth-child(1) {
    margin: 0 auto;
    height: 40px;
}

.SelectedWeatherInfoStyles .dateStyle {
    font-size: var(--text-size-large);
}

.SelectedWeatherInfoStyles .dayStyle {
    font-size: var(--text-size-large);
    margin: 0;
}

.SelectedWeatherInfoStyles .cityStyle {
    font-size: var(--text-size-large);
}

.SelectedWeatherInfoStyles .countryStyle {
    font-size: var(--text-size-medium);
}

/* Medium screens */
@media only screen and (max-width: 750px) {
    .SelectedWeatherInfoStyles {
        width: 70%;
    }

    .SelectedWeatherInfoStyles .dateStyle {
        font-size: var(--text-size-medium);
    }

    .SelectedWeatherInfoStyles .cityStyle {
        margin-top: 1rem;
        font-size: var(--text-size-medium);
    }
}

/* small screens */
@media only screen and (max-width: 550px) {
    .SelectedWeatherInfoStyles {
        width: 80%;
        order: 2;
    }

    .SelectedWeatherInfoStyles ul {
        width: 60%;
    }
}