@import '../../../../../variables.css';

.ItemStyles {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--text-size-medium);
    margin: 0 auto;
    color: var(--color-main-grey-dark);
    border-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 50%;
    text-decoration: none;
    text-align: center;
    align-self: auto;
    transition: all 0.3s ease-in;

}

.ItemStyles:hover {
    background-color: var(--color-hover-purple);
    color: var(--color-main-black-opaque);
    text-decoration: none;
}

.active {
    border-bottom: 7px solid;
    color: var(--color-main-black);
    border-bottom-color: var(--color-main-herolo-purple);
    font-size: 1.3rem;
}