@import '../../../variables.css';

.SearchContainerStyles {
	width: 60%;
	height: 50px;
	margin: 1.5rem auto;
	display: flex;
	justify-content: center;
	justify-items: center;
	align-content: center;
	position: relative;
}

.SearchContainerStyles input {
	border: none;
}

.InputWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: end;
	width: 90%;
	border: var(--border-thick);
	border-color: var(--color-main-black);
}

.InputWrapper svg {
	margin-left: 0.3rem;
	margin-right: 0.4rem;
}