@import '../../../variables.css';

.FavoritesStyles {
    width: 90%;
    height: 600px;
    margin: 1.5rem auto;
}

.noFavoritesMessage {
    width: 80%;
    font-size: var(--text-size-large);
    margin: 1.5rem auto;
}


/* Medium screen */
@media only screen and (max-width: 800px) {
    .FavoritesStyles {
        width: 95%;
    }
}