@import '../../../variables.css';

.WeatherDisplayContainerStyles {
    width: 70%;
    height: 43rem;
    border-color: var(--color-main-black-opaque);
    border: var(--border-thick);
    border-radius: 8px;
    margin: 0 auto;
}