@import '../../../variables.css';

.WeatherDisplayContainerStyles {
    width: 70%;
    height: 43rem;
    border-color: var(--color-main-black-opaque);
    border: var(--border-thick);
    border-radius: 8px;
    margin: 0 auto;
    position: relative;
    box-shadow: 2px 4px 9px 2px #bababa;
}

.WeatherDisplayContainerStyles a {
    color: #6c72e8db;
    text-decoration: none;
    font-weight: 800;
}

.WeatherDisplayContainerStyles a:hover {
    color: #cc61f7db;
}


/* Large screens */
@media only screen and (max-width: 1150px) {
    .WeatherDisplayContainerStyles {
        width: 80%;
        margin-bottom: 1rem;
    }
}

/* Medium screens */
@media only screen and (max-width: 900px) {
    .WeatherDisplayContainerStyles {
        width: 90%;
    }
}

/* Small screens */
@media only screen and (max-width: 500px) {
    .WeatherDisplayContainerStyles {
        width: 95%;
    }
}