@import '../../../../variables.css';

.CardStyles {
    width: 20%;
    height: 15rem;
    margin: 1.5rem 0.8rem;
    padding: 1rem 2rem;
    border: var(--border-thick);
    border-color: var(--color-main-black-opaque);
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.CardStyles h3 {
    font-size: var(--text-size-large);
}

.CardStyles h4 {
    font-size: var(--text-size-medium);
}

.CardStyles p {
    font-size: var(--text-size-medium);
}