@import '../../../../variables.css';

.CardStyles {
    width: 20%;
    height: 15rem;
    margin: 1.5rem 0.5rem;
    padding: 0;
    border: var(--border-thick);
    border-color: var(--color-main-black-opaque);
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.CardStyles h3 {
    font-size: var(--text-size-medium);
    text-align: center;
    margin-bottom: 1.5rem;
}

.CardStyles h4 {
    font-size: var(--text-size-medium);
}

.CardStyles p {
    font-size: var(--text-size-medium-small);
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
}