@import '../../../../variables.css';

.CardStyles {
    width: 20%;
    height: 15rem;
    margin: 1.5rem 0.5rem;
    padding: 0;
    border: var(--border-thick);
    border-color: #c5c3c3a1;
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 8px 0px #e5dddd;
}

.CardStyles h3 {
    font-size: var(--text-size-medium);
    text-align: center;
}

.CardStyles .dateStyle {
    margin-bottom: 1.5rem;
    font-size: var(--text-size-medium-small);
}

.CardStyles .temperatureStyle {
    font-size: var(--text-size-large);
}

.CardStyles .descriptionStyle {
    font-size: var(--text-size-medium-small);
    width: 100%;
    text-align: center;
    margin-top: 0.4rem;
}

/* Medium screens */
@media only screen and (max-width: 850px) {

    .CardStyles {
        margin: 1.5rem 0.2rem;
    }

    .CardStyles h3 {
        font-size: var(--text-size-medium-small);
    }

    .CardStyles .temperatureStyle {
        font-size: var(--text-size-medium);
    }

}

/* Small screens */
@media only screen and (max-width: 600px) {

    .CardStyles {
        flex-direction: row;
        width: 100%;
        margin: 0.2rem 0;
        padding: 0 0.2rem;
        height: 10rem;
    }

    .CardStyles {
        font-size: 0.7rem;
    }

    .CardStyles .descriptionStyle {
        font-size: var(--text-size-medium-small);
        width: 35%;
    }

    .CardStyles .temperatureStyle {
        margin: 0 auto;
        font-weight: 800;
    }

    .CardStyles .dateStyle {
        font-size: 0.7rem;
        margin: 0 auto;
    }
}

/* extra small screens */
@media only screen and (max-width: 490px) {

    .CardStyles {
        font-size: 0.7rem;
    }

    .CardStyles .descriptionStyle {
        font-size: var(--text-size-small);
        width: 25%;
    }

    .CardStyles .temperatureStyle {
        font-size: var(--text-size-small);
    }

    .CardStyles .dateStyle {
        font-size: 0.7rem;
    }

    .CardStyles h3 {
        font-size: 0.7rem;
        width: 30%;
    }
}