:root {
    /* Theme specs */
    --background-main-light-theme: rgba(247, 247, 247, 0.863);
    --background-main-dark-theme: rgba(44, 42, 42, 0.76);
    /* coloring */
    --color-main-black: rgba(39, 36, 36, 0.774);
    --color-main-black-opaque: rgba(31, 28, 28, 0.507);
    --color-main-grey-dark: #495057;
    /* Typography */
    --text-size-small: 0.7rem;
    --text-size-medium: 1.2rem;
    --text-size-large: 1.4rem;
    --text-size-extra-large: 1.8rem;
    --text-size-huge: 3rem;
    /* sizes */
    /* Shadows */
    /* Borders */
    --border-thick: 2px solid;
    --border-thin: 1px solid;
}